<div class="product-specs">
  <div class="container">
    <div class="product-specs__content">
      
      {% if section.settings.description != blank %}
        <div class="product-specs__description">{{ section.settings.description }}</div>
      {% endif %}
      
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Specs",
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>273 PP.<br>SOFTCOVER WITH TIP-IN IMAGE.<br>HARDCOVER LINEN SLIP CASE.<br>FOIL LETTERING.<br>EXPOSED SMYTH-SEWN SPINE.</p>"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.product-specs {
  padding: 4rem 0;
  font-family: 'Panama Monospace', monospace;
}

.product-specs__content {
  max-width: 60%;
  margin: 0 auto;
}

.product-specs__description {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .product-specs {
    padding: 2rem 0;
  }
  
  .product-specs__content {
    max-width: 100%;
  }

  .product-specs__description {
    font-size: 1.5rem;
  }
}
{% endstylesheet %} 